<div class="timeline">
    {% for i, row in logs %}

        <div class="timeline-wrapper {{ i % 2 ? 'timeline-inverted' : '' }} timeline-wrapper-{{ random(['info', 'secondary','success', 'primary',  'warning']) }}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h6 class="timeline-title">{{ row.createdAt | ago }}</h6>
                </div>
                <div class="timeline-body">
                    <p>{{ row.localization }}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <span class="ml-md-auto font-weight-bold">{{ row.createdAt.format("h:m") }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>